<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Funny Santa.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB5A60FE24DDD8DC001A724F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBEBFC2D25DC0EAF006725EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBEBFC3D25DC0F9B006725EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
